<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="./assets/img/contacto.webp" alt="Imagen" class="img-fluid">
        </div>

        <div class="col-lg-6 newsletter">
            <p>Newsletter</p>
            <form action="">
                <div>
                    <input type="text" class="form-control" placeholder="Contactanos">
                </div>
            </form>
            <div class="float-end icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
</div>
