<div class="container">
    <h1 class="text-center p-3">Bienvenido</h1>
    <div class="row">
        <div class="col-lg-6">
            <img src="./assets/img/home.webp" alt="Imagen" class="img-fluid">
        </div>

        <div class="col-lg-6">
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis deserunt itaque rem? Sed esse, aspernatur
                consequatur sequi omnis, quod eaque in sit doloremque error architecto cupiditate dolores amet voluptates voluptate!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem odit laudantium in sit? Doloremque explicabo esse, aut
                officiis fuga nisi! Delectus laudantium a obcaecati deserunt officia nam perferendis, doloremque dolore? Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Explicabo assumenda perferendis error, quod accusantium fuga ipsam
                soluta modi unde quo quaerat pariatur magnam eum optio minus asperiores qui dignissimos sunt.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi esse amet eum quas quisquam at, voluptates doloribus obcaecati asperiores numquam similique, quae maxime autem nobis eaque sunt voluptatibus quis neque?
        </p>
        <button type="button" class="float-end" routerLink="/empresa" >Ver mas</button>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Productos principales</h2>
        <div class="col-lg-12 products">
            <div class="card">
                <div class="card-title text-center">
                </div>
                <div class="card-body">
                    <img src="./assets/img/snow.jpg" alt="Imagen" width="200px" class="img-fluid">
                </div>
               <div>
                <p class="parrafo-productos">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet.
                </p>
               </div>
            </div>

               <div class="card">
                <div class="card-title text-center">
                </div>
                <div class="card-body">
                    <img src="./assets/img/ease.webp" alt="Imagen" width="200px" class="img-fluid">
                </div>
               <div>
                <p class="parrafo-productos">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet.
                </p>
               </div>
            </div>

            <div class="card">
                <div class="card-title text-center">
                </div>
                <div class="card-body">
                    <img src="./assets/img/football.jpg" alt="Imagen" width="200px" class="img-fluid">
                </div>
               <div>
                <p class="parrafo-productos">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet.
                </p>
               </div>
            </div>
        </div>

        <div class="text-center">
            <button class="btnVerMas"  routerLink="/productos">Ver mas</button>
        </div>
       
    </div>   
    <hr>
    <app-contacto></app-contacto>
</div>

