<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img src="./assets/img/logo.png" alt="Logo" class="img-fluid" width="60px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          <a class="nav-link" routerLink="/empresa">Empresa</a>
          <a class="nav-link" routerLink="/productos">Productos</a>
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </div>
      </div>
    </div>
    <div class="info">
      <span ><i class="fa-solid fa-phone"></i> 3146689012 </span>
      <span ><i class="fa-solid fa-location-pin"></i> Bogota </span>
    </div>
  </nav>