<h2 class="text-center">  {{title}} </h2>
<div class="container text-center">
   <div>
    <img class="img-fluid" src="./assets/img/vision.webp" alt="Imagen" width="300px">
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aliquam ex voluptas harum quasi quia excepturi ut vero ratione ullam nobis eveniet in impedit, illo repudiandae aperiam est? Illo, iure!Lorem</p>
   </div>

   <div>
    <img class="img-fluid" src="./assets/img/mision.webp" alt="Imagen" width="300px">
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aliquam ex voluptas harum quasi quia excepturi ut vero ratione ullam nobis eveniet in impedit, illo repudiandae aperiam est? Illo, iure!Lorem</p>
   </div>

   <div>
    <img class="img-fluid" src="./assets/img/empresa.webp" alt="Imagen" width="300px">
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam aliquam ex voluptas harum quasi quia excepturi ut vero ratione ullam nobis eveniet in impedit, illo repudiandae aperiam est? Illo, iure!Lorem</p>
   </div>
</div>
